Note: Grade 9 or 10 showing as passed through the school is not entertainable as these grades are to be passed through an external exam body. For Further queries or information regarding equivalence,please contact on following email attestation@ibcc.edu.pk Phone: (051) 9106631 (051)111114222 (051) 8735969 Fax: (051) 9106361